body {
    background-color: #b5dda3;
    overflow: hidden;
}

#canvas {
    background-color: #e6e6e6;
    cursor: crosshair;

    border-radius: 10px;
    background-color: white;
    border: 5px solid #292929;
    overflow: hidden;

    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    left: 50%;
    font-size: 64px;

    font-family: "Jersey 15";
    font-weight: 400;
    font-style: normal;
    background: -webkit-linear-gradient(#2dffcb, #3168ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type=color] {
    background-color: #292929;
    border: none;
}

input[type=range] {
    padding-top: 10px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #4b4b4b;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #292929;
    height: 800%;
    width: 20px;
    border-radius: 2;
    background: rgb(197, 194, 185);
    margin-top: -18px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #646464;
}